<ion-content class="profile-content">
  <!-- Parte superior con fondo decorativo -->
  <div class="up">
    <ion-button class="navegar" (click)="goToHome()" shape="round">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-button shape="round" class="logout-button" (click)="logout()">
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
  </ion-button>

  <!-- Avatar y botón de edición -->
  <div class="profile-header">
    <ion-avatar class="avatar-large">
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar" />
    </ion-avatar>

    <ion-button fill="clear" class="edit-icon" (click)="toggleEditMode()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>

    <h2 class="user-name">{{userName}}</h2>
  </div>

  <!-- Infos -->
  <div *ngIf="!isEditMode" class="info-section">
    <h4 class="info-title">Infos</h4>
    <div class="info-item">
      <label>Nombre</label>
      <p>{{userName}}</p>
    </div>
    <div class="info-item">
      <label>E-mail</label>
      <p>{{userEmail}}</p>
    </div>
    
  </div>

  <!-- Edición -->
  <div *ngIf="isEditMode" class="info-section">
    <h4 class="info-title">Editar Perfil</h4>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="editableProfile.name" placeholder="Ingrese su nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="editableProfile.email" type="email" placeholder="Ingrese su email"></ion-input>
    </ion-item>
    <ion-button class="botones-editar"  (click)="saveProfile()">Guardar</ion-button>
    <ion-button class="botones-editar" (click)="cancelEdit()">Cancelar</ion-button>
  </div>


</ion-content>