ion-content {
  --background: url('../../assets/home.png') center center / cover !important;
}

ion-fab-button {
  --background: #FFF0F0;
  height: 50px;
  width: 50px;
  --color: #DE496E;
}

ion-grid{
  margin: 15px 0 18px 0;
}

.week-scroll {
  display: flex;
  overflow-x: auto;
  padding: 1rem 0;
  -webkit-overflow-scrolling: touch;
}

.week-chip {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  border-radius: .8rem;
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  --padding-top: 0.25rem;
  --padding-bottom: 0.25rem;
  height: 60px;
  transition: background 0.2s;
}

ion-avatar{
  width: 40px;
  height: 40px;
}

.week-chip--active {
  background: #FFF0F0 !important;
  color: #DE496E;
}

.week-chip--inactive {
  background: transparent;
  color: #000;
}

.chip-weekday {
  font-size: 0.75rem;
  text-align: center;
}

.chip-date {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
