ion-content {
  --background: #fff;
  --padding-top: 0 !important;
}

.top-user{
  background-color: #C0F1F4;
  padding: 20px;
  border-radius: 0 0  60px 60px;
  color: #020A20;
}

ion-fab-button {
  --background: #C0F1F4;
  height: 60px;
  width: 60px;
  --color: #020A20;
}

ion-grid{
  margin: 0 0 18px 0;
}

.week-scroll {
  display: flex;
  overflow-x: auto;
  padding: 1rem 0;
  -webkit-overflow-scrolling: touch;
}

canvas {
  display: block;
  width: 100% !important;
  height: 300px !important; 
}

.week-chip {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  border-radius: .8rem;
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  --padding-top: 0.25rem;
  --padding-bottom: 0.25rem;
  height: 60px;
  transition: background 0.2s;
  overflow: hidden;
}

ion-avatar{
  width: 40px;
  height: 40px;
}

.week-chip--active {
  background: #C0F1F4 !important;
  color: #020A20;
}

.week-chip--inactive {
  background: transparent;
  color: #000;
}

.chip-weekday {
  font-size: 0.75rem;
  text-align: center;
}

.chip-date {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.emotion-scroll {
  display: flex;
  background: #C0F1F4;
  border-radius: 15px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
  justify-content: space-between;
  margin-top: 10px;
}

.emotion-scroll ion-chip {
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

.emotion-chip {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  border-radius: 0.8rem;
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  --padding-top: 0.25rem;
  --padding-bottom: 0.25rem;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  user-select: none;
}

.emotion-chip--active {
  background: #d3f8fa !important;
  font-weight: bold;
}

.emotion-chip--inactive {
  background: transparent;
  color: #000;
}

.emotion-chip .emoji {
  line-height: 1;
  user-select: none;
}

.emocionometer ion-button{
  --background: #C0F1F4 !important;
  color: #020A20;
}

ion-card{
  border-radius: 10px;
  height: 110px;
  box-shadow: 0 0 10px #ddd;
}

ion-card-header{
  background-color: #C0F1F4;
  height: 40%;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5px;
}

ion-card-title{
  color: #020A20 !important;
  white-space: nowrap;        
  overflow: hidden;           
  text-overflow: ellipsis;    
  display: block;             
  max-width: 100%;  
  text-transform: capitalize;
}




ion-card-content{
  height: 60%;
}