<ion-content scroll-y="true">
  <form (ngSubmit)="saveNote()">
    <ion-button class="navegar" (click)="goToHome()" shape="round">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>

    <div class="note-header">
      <ion-item lines="none">
        <ion-input [(ngModel)]="noteTitle" name="title" placeholder="Título" required></ion-input>
      </ion-item>
    </div>

    <div class="note-paper">
      <div class="contenido">
        <ion-item lines="none">
          <ion-textarea
            [(ngModel)]="noteContent"
            name="content"
            placeholder="Escribe aquí lo que piensas."
            required
            autoGrow="true"
          ></ion-textarea>
        </ion-item>
      </div>

    </div>
    <div class="save-button-container">
      <ion-button shape="round" expand="full" type="submit" class="save-button">
        Guardar nota
      </ion-button>
    </div>
  </form>
</ion-content>
